.friend-requests-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(140deg, #ff0000, #000000);  
    padding: 1rem;
    z-index: 1000;  
    max-width: 600px;  
    color: white;
    margin: 0 auto;  
  }
  
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .loading,
  .error {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .friend-requests-list {
    list-style-type: none;
    padding: 0;
  }
  
  .friend-request-item {
    display: flex;
    flex-direction: column; 
    padding: 0.5rem 0;
    border-bottom: 1px white solid;
    color: white; 
  }
  
  .request-info-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .request-info {
    flex: 1;
  }
  
  .button-container {
    display: flex;
  }
  
  .accept-button,
  .reject-button {
    margin-left: 1rem; 
    padding: 0.5rem 1rem;
    border: 0.1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;  
  }
  
  .accept-button {
    background: linear-gradient(140deg, #000000, #000000); 
    color: white;
  }
  
  .reject-button {
    background: linear-gradient(140deg, #ff0000, #ff0000); 
    color: white;
  }
  
  .accept-button:hover,
  .reject-button:hover {
    filter: brightness(1.2);
  }
  
 
  @media (max-width: 768px) {
    .section-title {
      font-size: 1.2rem;
    }
  
    .accept-button,
    .reject-button {
      font-size: 0.8rem;
      padding: 0.3rem 0.6rem;
    }
  }
  
  @media (max-width: 576px) {
    .section-title {
      font-size: 1rem;
    }
  
    .request-info {
      font-size: 0.9rem;
    }
  
    .accept-button,
    .reject-button {
      font-size: 0.7rem;
      padding: 0.2rem 0.4rem;
    }
  }
  